<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features Overview</title>
    <link rel="stylesheet" href="/styles/features.css" />
  </head>
  <body>
    <!-- Features Overview Section -->
    <main class="features-container">
      <h2>Features Overview</h2>
      <p>
        Discover the key features that empower you to take charge of your
        health.
      </p>

      <div class="features-grid">
        <div class="feature-item">
          <img
            src="https://i.pinimg.com/564x/32/9c/ee/329ceee95800cd4a73f89722d35a42cf.jpg"
            alt="Symptom Checker"
          />
          <h3>Symptom Checker</h3>
          <p>
            Easily input symptoms and receive instant feedback to understand
            potential health issues.
          </p>
        </div>

        <div class="feature-item">
          <img
            src="https://i.pinimg.com/564x/c6/f3/35/c6f3358522b23e4d60cc48feca602061.jpg"
            alt="Health Tips"
          />
          <h3>Personalized Health Tips</h3>
          <p>
            Receive customized health tips tailored to your individual needs and
            conditions.
          </p>
        </div>

        <div class="feature-item">
          <img
            src="https://i.pinimg.com/736x/a1/83/64/a18364139d23e670944ae1f2257076d6.jpg"
            alt="Remote Consultations"
          />
          <h3>Remote Consultations</h3>
          <p>
            Connect with healthcare professionals through virtual consultations
            for timely advice.
          </p>
        </div>

        <div class="feature-item">
          <img
            src="https://i.pinimg.com/564x/8b/56/8e/8b568ea0543a0fb63f63c44117a9a82e.jpg"
            alt="Community Support"
          />
          <h3>Community Support</h3>
          <p>
            Join a community of users who share their experiences and support
            each other's health journeys.
          </p>
        </div>
      </div>

      <div class="cta-buttons">
        <a href="/users/register" class="cta-button">Join Us Today</a>
        <a href="/contact" class="cta-button">Contact Us</a>
      </div>
    </main>
  </body>
</html>
