<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/signup.css">

</head>
<body>
    <!-- Sign Up Form Section -->
    <main class="form-container">
        <h2>Sign Up</h2>
        <form action="/users/register" method="post"  id="signupForm" >
            <label for="username">Name</label>
            <input type="text" id="name" name="username" required>

            <label for="mobile">Mobile Number</label>
            <input type="tel" id="mobile" name="mobile" required pattern="[0-9]{10}" title="Enter a valid 10-digit mobile number">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Submit</button>
            <p id="signupSuccessMessage" class="success-message" style="display: none;">Submitted Successfully!</p>
        </form>
    </main>

    <script>
        // Handle sign up form submission
        // function handleSignup(event) {
        //     event.preventDefault(); // Prevent form submission
        //     document.getElementById("signupSuccessMessage").style.display = "block";
        //     document.getElementById("signupForm").reset();
        // }
    </script>
</body>
</html>
